<div class="container-fluid mbottom60">
    <div id="notification"></div>
    <div class="page-title">
        <div>
            <h1><i class="icon-file-alt"></i> User Profile</h1>
            <h4>Manage user profile</h4>
        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">Home</a>
                <span class="divider"><i class="icon-angle-right"></i></span>
            </li>
            <li class="active">User Profile</li>
        </ul>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="icon-file"></i> Profile Info</h3>

                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="icon-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="row-fluid">
                        <div class="span3">
                            <img src="{{profilepic}}" alt="profile picture"/>
                            <br/><br/>
                        </div>
                        <div class="span9 user-profile-info">
                            {{#currentuser}}
                            <p><span>Username:</span> {{username}}</p>

                            <p><span>First Name:</span> {{firstname}}</p>

                            <p><span>Last Name:</span> {{lastname}}</p>

                            <p><span>Birthday:</span> {{birthday}}</p>

                            <p><span>Gender:</span> {{gender}}</p>

                            <p><span>Country:</span> {{countryname}}</p>

                            <p><span>Occupation:</span> {{occupation}}</p>

                            <p><span>Mobile Number:</span> {{mobileprefix}} {{mobilenumber}}</p>

                            <p><span>Website:</span> <a href="{{website}}" target="_blank"> {{website}}</a></p>

                            <p><span>Email:</span> <a href="mailto:{{email}}"> {{email}}</a></p>

                            <p><span>About:</span> {{about}}</p>
                            {{/currentuser}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="box box-pink">
                <div class="box-title">
                    <h3><i class="icon-file"></i> Edit Profile</h3>

                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </div>
                <div class="box-content" style="display: none;">
                    <form action="/edituser" class="form-horizontal" method="post">
                        {{#currentuser}}
                        <div class="control-group">
                            <label class="control-label">Username</label>

                            <div class="controls">
                                <input type="text" value="{{username}}" name="username" class="span6" disabled/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">First Name</label>

                            <div class="controls">
                                <input type="text" value="{{firstname}}" name="firstname" class="span6"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Last Name</label>

                            <div class="controls">
                                <input type="text" value="{{lastname}}" name="lastname" class="span6"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Birthday</label>

                            <div class="controls">
                                <input class="date-picker span6" data-date-format="yyyy-mm-dd" size="16" type="text" value="{{birthday}}" name="birthday"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Gender</label>

                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="gender" value="Male" {{genderM}}/> Male
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="gender" value="Female" {{genderF}}/> Female
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Country</label>

                            <div class="controls">
                                <select class="span6 chosen" data-placeholder="Choose a country" tabindex="1" name="country">
                                    {{#countries}}
                                    <option value="{{countrycode}}" {{selected}}>{{countryname}}</option>
                                    {{/countries}}
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Occupation</label>

                            <div class="controls">
                                <input type="text" value="{{occupation}}" class="span6" name="occupation"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Mobile Number</label>

                            <div class="controls">
                                <select class="span4 chosen" data-placeholder="Choose a country" tabindex="1" name="mobileprefix">
                                    <option value="{{prefix}}" selected>{{selectedcountry}} {{prefix}}</option>
                                    {{#countries}}
                                    <option value="+{{countryprefix}}">{{countryname}} +{{countryprefix}}</option>
                                    {{/countries}}
                                </select>
                                <input type="text" value="{{mobilenumber}}" class="span6" name="mobilenumber"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Website</label>

                            <div class="controls">
                                <input type="text" value="{{website}}" class="span6" name="website"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Email</label>

                            <div class="controls">
                                <input type="text" value="{{email}}" class="span6" name="email"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">About</label>

                            <div class="controls">
                                <textarea class="span6" rows="6" name="about">{{about}}</textarea>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" name="submitInfo" class="btn btn-primary">Submit</button>
                        </div>
                        {{/currentuser}}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <div class="box box-orange">
                <div class="box-title">
                    <h3><i class="icon-file"></i> Edit Profile Picture</h3>

                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </div>
                <div class="box-content" style="display: none;">
                    <form action="/edituser" class="form-horizontal" method="post" enctype="multipart/form-data">
                        <div class="control-group">
                            <label class="control-label">Image Upload</label>

                            <div class="controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 200px;">
                                        <img src="{{profilepic}}" alt="" style="width: 200px; height: 200px;"/>
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 200px; line-height: 20px;"></div>
                                    <div>
   <span class="btn btn-file"><span class="fileupload-new">Select image</span>
   <span class="fileupload-exists">Change</span>
   <input type="file" class="default" name="fileToUpload" id="fileToUpload"/></span>
                                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" name="submitimg" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="box box-red">
                <div class="box-title">
                    <h3><i class="icon-file"></i> Change Password</h3>

                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </div>
                <div class="box-content" style="display: none;">
                    <form action="/edituser" class="form-horizontal" method="post" enctype="multipart/form-data">
                        <div class="control-group">
                            <label class="control-label">Current password</label>
                            <div class="controls">
                                <input type="password" class="span12" name="curPass"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">New password</label>
                            <div class="controls">
                                <input type="password" class="span12" name="newPass"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Re-type new password</label>

                            <div class="controls">
                                <input type="password" class="span12" name="newPass2"/>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" name="submitPassword">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>