<script>window.jQuery || document.write('<script src="assets/assets/jquery/jquery-1.10.1.min.js"><\/script>')</script>
<script src="{{baseurl}}assets/js/lodash.min.js"></script>
<script src="{{baseurl}}assets/js/jquery.taconite.min.js"></script>

<!--basic scripts-->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>-->

<script src="{{baseurl}}assets/assets/bootstrap/bootstrap.min.js"></script>
<script src="{{baseurl}}assets/assets/nicescroll/jquery.nicescroll.min.js"></script>

<!--page specific plugin scripts-->
<script src="{{baseurl}}assets/assets/flot/jquery.flot.js"></script>
<script src="{{baseurl}}assets/assets/flot/jquery.flot.resize.js"></script>
<script src="{{baseurl}}assets/assets/flot/jquery.flot.pie.js"></script>
<script src="{{baseurl}}assets/assets/flot/jquery.flot.stack.js"></script>
<script src="{{baseurl}}assets/assets/flot/jquery.flot.crosshair.js"></script>
<script src="{{baseurl}}assets/assets/flot/jquery.flot.tooltip.min.js"></script>
<script src="{{baseurl}}assets/assets/sparkline/jquery.sparkline.min.js"></script>
<script src="{{baseurl}}assets/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="{{baseurl}}assets/assets/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>

<!--flaty scripts-->
<script src="{{baseurl}}assets/js/flaty.js"></script>
<script src="{{baseurl}}assets/js/script.js"></script>
</body>
</html>