<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="description" content="">

    <title>{{pageTitle}}</title>
    <link href="{{baseurl}}assets/img/favicon.ico" rel="icon" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{baseurl}}assets/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{baseurl}}assets/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{baseurl}}assets/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{baseurl}}assets/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{baseurl}}assets/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{baseurl}}assets/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{baseurl}}assets/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{baseurl}}assets/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{baseurl}}assets/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{baseurl}}assets/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{baseurl}}assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{baseurl}}assets/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{baseurl}}assets/img/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{baseurl}}assets/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="{{baseurl}}assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{baseurl}}assets/css/style.css" rel="stylesheet">

    <!--base css styles-->
    <link rel="stylesheet" href="{{baseurl}}assets/assets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="{{baseurl}}assets/assets/bootstrap/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{baseurl}}assets/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{baseurl}}assets/assets/normalize/normalize.css">

    <!--page specific css styles-->

    <!--flaty css styles-->
    <link rel="stylesheet" href="{{baseurl}}assets/css/flaty.css">
    <link rel="stylesheet" href="{{baseurl}}assets/css/flaty-responsive.css">
    <link rel="stylesheet" href="{{baseurl}}assets/assets/bootstrap-datepicker/css/datepicker.css">
    <link rel="stylesheet" href="{{baseurl}}assets/assets/bootstrap-fileupload/bootstrap-fileupload.css">

    <link rel="shortcut icon" href="{{baseurl}}assets/img/favicon.ico">

    <script src="{{baseurl}}assets/assets/modernizr/modernizr-2.6.2.min.js"></script>
</head>
<body>
{{#authenticated}}
<div id="navbar" class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a href="/" class="brand">
                <small>
                    <i class="icon-desktop"></i>
                    {{pageTitle}}
                </small>
            </a>
            <ul class="nav flaty-nav pull-right">
                <li class="hidden-phone">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-envelope"></i>
                        <span class="badge badge-success">{{countOne2One}}</span>
                    </a>
                    <ul class="dropdown-navbar dropdown-menu">
                        <li class="nav-header">
                            <i class="icon-comments"></i>
                            {{countOne2One}} Messages
                        </li>
                        {{#messagesOne2One}}
                        <li class="msg">
                            <a href="/one2one?user={{id}}">
                                <img src="{{profilepicture}}" alt="{{firstname}}'s Avatar"/>

                                <div>
                                    <span class="msg-title">{{firstname}} {{lastname}}</span>
                                    <span class="msg-time">
                                    <i class="icon-time"></i>
                                    <span>{{time}}</span>
                                    </span>
                                </div>
                                <p>{{message}}</p>
                            </a>
                        </li>
                        {{/messagesOne2One}}
                        <li class="more">
                            <a href="/one2one">See all messages</a>
                        </li>
                    </ul>
                </li>
                <li class="user-profile">
                    <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                        <img class="nav-user-photo" src="{{profilepic}}" alt="{{firstname}}'s Photo"/>
<span class="hidden-phone" id="user_info">
{{fullname}}
</span>
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-navbar" id="user_menu">
                        <li class="nav-header">
                            <i class="icon-time"></i>
                            Logined From {{lastlogin}}
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-cog"></i>
                                Account Settings
                            </a>
                        </li>
                        <li>
                            <a href="/edituser">
                                <i class="icon-user"></i>
                                Edit Profile
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-question"></i>
                                Help
                            </a>
                        </li>
                        <li class="divider visible-phone"></li>
                        <li class="visible-phone">
                            <a href="#">
                                <i class="icon-tasks"></i>
                                Tasks
                                <span class="badge badge-warning">4</span>
                            </a>
                        </li>
                        <li class="visible-phone">
                            <a href="#">
                                <i class="icon-bell-alt"></i>
                                Notifications
                                <span class="badge badge-important">8</span>
                            </a>
                        </li>
                        <li class="visible-phone">
                            <a href="#">
                                <i class="icon-envelope"></i>
                                Messages
                                <span class="badge badge-success">5</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="?logout=true">
                                <i class="icon-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
        <!--/.container-fluid-->
    </div>
    <!--/.navbar-inner-->
</div>
{{/authenticated}}