<div id="container">
    {{#authenticated}}
    <main class="bs-docs-masthead" id="content" role="main" tabindex="-1">
        <h1>Perfect PHP framework!</h1>

        <div id="body">
            <h3><a href="http://www.codeigniter.com/">CodeIgniter 3</a> + <a href="http://www.redbeanphp.com/">RedBeanPHP
                4</a> + <a href="https://mustache.github.io/">Mustache</a> + <a
                    href="http://taconite.sourceforge.net/jquery/actions.html">Taconite</a> + <a
                    href="http://getbootstrap.com/">Bootstrap 3</a></h3>
        </div>

        <p class="lead">Page rendered in <strong>{elapsed_time}</strong>
            seconds.</p>

        <p class="lead">Memory usage <strong>{memory_usage}</strong></p>
    </main>
    {{/authenticated}}
    {{^authenticated}}
    <body class="login-page">
    <div class="login-wrapper">
        <form class="form-login" action="/" method='post'>
            <h3>Login to your account</h3>
            <hr/>
            <div class="control-group">
                <div class="controls">
                    <input type="text" placeholder="Username" id="inputUsername" name="username" class="input-block-level"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="password" placeholder="Password" id="inputPassword" name="password" class="input-block-level"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" value="remember"/> Remember me
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" name="submitlogin" class="btn btn-primary input-block-level">Sign In</button>
                </div>
            </div>
            <hr/>
            <p class="clearfix">
                <a href="/register" class="goto-register pull-right">Sign up now</a>
            </p>
        </form>
    </div>
    </body>
    {{/authenticated}}
</div>