<div class="container-fluid" id="main-container">
    <div id="sidebar" class="nav-collapse">
        <ul class="nav nav-list side-nav">
            <li>
                <form target="#" method="GET" class="search-form">
                    <span class="search-pan">
                    <button type="submit">
                        <i class="icon-search"></i>
                    </button>
                    <input type="text" name="search" placeholder="Search ..." autocomplete="off"/>
                    </span>
                </form>
            </li>
            {{#allUsersExeptMe}}
            <li class="user-profile"><a href="/one2one?user={{id}}"
                                        class="user-menu dropdown-toggle">
                <img class="nav-user-photo" src="{{profilepicture}}" alt="{{firstname}}'s Photo"/>
                <span class="hidden-phone" id="user_info">
{{firstname}} {{lastname}}
</span>
            </a>
            </li>
            {{/allUsersExeptMe}}
        </ul>
        <div id="sidebar-collapse" class="visible-desktop">
            <i class="icon-double-angle-left"></i>
        </div>
    </div>
    <div id="main-content">
        <div class="page-title">
            <div>
                <h1><i class="icon-file-alt"></i> One2One Messages &amp; Chat</h1>
                <h4>Conversation and Chat</h4>
            </div>
        </div>
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.php">Home</a>
                    <span class="divider"><i class="icon-angle-right"></i></span>
                </li>
                <li class="active">One2One Messages &amp; Chat</li>
            </ul>
        </div>
        <div class="row-fluid">
            <div class="span12">
                {{#perUser}}
                <div class="box box-blue">
                    <div class="box-title">

                        <h3><i class="icon-file"></i> {{#otheruser}} {{firstname}} {{lastname}} {{/otheruser}} & Me</h3>

                        <div class="box-tool">
                            <a data-action="collapse" href="#"><i class="icon-chevron-up"></i></a>
                            <a data-action="close" href="#"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <ul class="messages messages-stripped messages-zigzag">
                            {{#one2oneMessages}}
                            <li class="{{oddeven}}">
                                <img src="{{profilepicture}}" alt="{{firstname}}'s Profile Picture">

                                <div>
                                    <div>
                                        <h5>{{firstname}} {{lastname}}</h5>
                                        <span class="time"><i class="icon-time"></i> {{time}}</span>
                                    </div>
                                    <p>{{message}}</p>
                                </div>
                            </li>
                            {{/one2oneMessages}}
                        </ul>

                        <div class="messages-input-form">
                            <form action="/one2one?user={{userid}}" class="form-horizontal" method="post"
                                  enctype="multipart/form-data">
                                <div class="input">
                                    <input type="text" name="newOne2OneMessage" placeholder="Write here..."
                                           class="input-block-level">
                                </div>
                                <div class="buttons">
                                    <a href="#"><i class="icon-camera"></i></a>
                                    <a href="#"><i class="icon-paper-clip"></i></a>
                                    <button type="submit" name="one2onesubmit" class="btn btn-primary"><i
                                            class="icon-share-alt"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {{/perUser}}
                {{#allUsers}}
                <div class="box">
                    <div class="box-title">
                        <h3><i class="icon-file"></i> All Messages</h3>

                        <div class="box-tool">
                            <a data-action="collapse" href="#"><i class="icon-chevron-up"></i></a>
                            <a data-action="close" href="#"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <ul class="messages nice-scroll">
                            {{#allOne2One}}
                            <li>
                                <img src="{{profilepicture}}" alt="">
                                <div>
                                    <div>
                                        <h5>{{firstname}} {{lastname}}</h5>
                                        <span class="time"><i class="icon-time"></i> {{time}}</span>
                                    </div>
                                    <p>{{message}}</p>
                                </div>
                            </li>
                            {{/allOne2One}}
                        </ul>
                    </div>
                </div>
                {{/allUsers}}
            </div>
        </div>
    </div>
</div>