<body class="login-page">
<div class="login-wrapper">
    <form id="form-register" action="/register" method="post">
        {{#success}}
        <h3>Sign Up Successful!</h3>
        {{/success}}
        {{^success}}
        <h3>Sign up</h3>
        <hr/>
        <div class="control-group">
            <div class="controls">
                <input type="text" placeholder="First Name" name="firstname" class="input-block-level"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="text" placeholder="Last Name" name="lastname" class="input-block-level"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="text" placeholder="Username" name="usernamee" class="input-block-level"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="password" placeholder="Password" name="passworde" class="input-block-level"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" name="submit" class="btn btn-primary input-block-level">Sign up</button>
            </div>
        </div>
        <hr/>
        <p class="clearfix">
            <a href="/" class="goto-login pull-left">← Back to login form</a>
        </p>
        {{/success}}
    </form>
</div>
</body>